.BigHero{
display: flex;
    background-color: #DC3546;
    justify-content: space-between;
    align-items: center;
    
  margin: 4% 0%;
  height: 90vh;
}
.bighero_text{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
.BigHero_img img{
  height: 90vh; 
}
form{
  display: flex;
  height: 100vh;
  align-items: center;
}
.notfound{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
